apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "balloon-jobs.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "balloon-jobs.name" . }}
    helm.sh/chart: {{ include "balloon-jobs.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
{{- if .Values.extraLabels }}
{{ toYaml .Values.extraLabels | indent 4 }}
{{- end }}        
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "balloon-jobs.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "balloon-jobs.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
{{- if .Values.extraLabels }}
{{ toYaml .Values.extraLabels | indent 8 }}
{{- end }}        
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
          - ballooncli
          - jobs
          - -vvvv
          env:            
          - name: BALLOON_CLAMAV_URI
          {{- if .Values.services.clamav.uri }}
            value: {{ .Values.services.clamav.uri }}
          {{- else }}
            value: tcp://{{ .Release.Name }}-clamav:3310
          {{- end }}
          - name: BALLOON_LIBREOFFICE_CONVERT_URL
          {{- if .Values.services.libreofficePreview.uri }}
            value: {{ .Values.services.libreofficePreview.uri }}
          {{- else }}
            value: http://{{ .Release.Name }}-lool-convert:9980
          {{- end }}
          - name: BALLOON_ELASTICSEARCH_URI
          {{- if .Values.services.elasticsearch.uri }}
            value: {{ .Values.services.elasticsearch.uri }}
          {{- else }}
            value: http://{{ .Release.Name }}-elasticsearch-client:9200
          {{- end }}
          - name: BALLOON_MONGODB_URI
          {{- if .Values.mongodb.uri }}
            value: {{ .Values.mongodb.uri }}
          {{- else }}
            value: mongodb://{{ .Release.Name }}-mongodb-0.{{ .Release.Name }}-mongodb:27017,{{ .Release.Name }}-mongodb-1.{{ .Release.Name }}-mongodb:27017,{{ .Release.Name }}-mongodb-2.{{ .Release.Name }}-mongodb:27017
          {{- end }}
          - name: BALLOON_URL
            value: {{ .Values.url }}
          - name: BALLOON_BURL_BROWSERLESS_URL
          {{- if .Values.services.burl.browserlessUri }}
            value: {{ .Values.services.burl.browserlessURI }}
          {{- else }}
            value: http://{{ .Release.Name }}-browserless-chrome:3000
          {{- end }}
{{- if .Values.extraVars }}
{{ toYaml .Values.extraVars | indent 10 }}
{{- end }}          
          volumeMounts:
          - mountPath: /etc/balloon
            name: config-volume
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
      - configMap:
          defaultMode: 420
          name: {{ .Release.Name }}-balloon-config
        name: config-volume            
        {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
